# File types
*.py~
*.asv
*.m~
*.dvi
*.ps
*.aux
*.log
*.xml
*.synctex.gz
*blx.bib
*.bbl
*.blg
*.mat
*.txt
*.rar
*.fls
*.toc
*.lof
*.gz
*.out
*.lot
*.fdb_latexmk
*.png
*.jpg
*.fig
*.bin
*.json
*.exe
*.json
*.pyc
*.o
*output
*.pdf
 
# Hidden files and directories
.vscode
.editorconfig
.out
.history/*
build_tex.sh
clean_tex.sh

# Directories
*/build/*
*/run/*
*__pycache__
build
scratch

# Don't ignore
!README.md
!CMakeLists.txt
!hierarchy.txt