[submodule "lib/core"]
	path = lib/core
	url = https://github.com/Lemurias/halcon/release
[submodule "lib/modules"]
	path = lib/modules
	url = https://github.com/Lemurias/halcon/modules
[submodule "lib/tools"]
	path = lib/tools
	url = https://github.com/Lemurias/halcon/tools
